window {
  background-color: #1b1e2b;
  color: #a6accd;
  font-family: Lato Medium;
  font-size: 18px;
}

/* search entry */
entry {
  background-color: #1b1e2b;
  padding: 8px 16px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 30px;
}

image {
  border: none;
  background: none;
  margin-bottom: 8px;
}

button {
  border: 2px solid #1b1e2b;
  border-radius: 10px;
  padding: 16px 24px;
  margin: 8px;
  background: #292d3e;
}

button:hover, button:focus {
  background-color: #424760;
  border: 2px solid #676e96;
  color: #fff;
}
