button, label, image {
    font-family: 'Lato Medium';
    font-size: 18px;
    background: none;
    border-style: none;
    box-shadow: none;
}

button {
    padding: 5px;
    margin: 5px;
    color: #a6accd;
}

button:hover {
    background-color: #292d3e;
    color: #ffffff;
}

button:focus {
    background-color: #393d4e;
    color: #ffffff;
}

#searchbox {
    background-color: #292d3e;
    color: #a6accd;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px;
}

#separator {
    background-color: rgba(200, 200, 200, 0.5);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#description {
    margin-bottom: 70px;
    color: #a6accd;
}

grid {
  background-color: #ffaaff;
}
