URxvt.scrollBar: false

![colors]!
URxvt.background: #131313
URxvt.foreground: #d6dbe5
!black
URxvt.color0: #1f1f1f
URxvt.color8: #000000
!red
URxvt.color1: #f81118
URxvt.color9: #de352e
!green
URxvt.color2: #2dc55e
URxvt.color10: #1dd361
!yellow
URxvt.color3: #ecba0f
URxvt.color11: #f3bd09
!blue
URxvt.color4: #2a84d2
URxvt.color12: #1081d6
!magenta
URxvt.color5: #4e5ab7
URxvt.color13: #5350b9
!cyan
URxvt.color6: #1081d6
URxvt.color14: #0f7ddb
!white
URxvt.color7: #d6dbe5
URxvt.color15: #ffffff

!fonts
URxvt*font: xft:inconsolata:size=11
!URxvt.letterSpace: -5
