URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: chromium-browser
URxvt.matcher.button: 2
URxvt.scrollBar: false

URXft.font: xfr:noto-sans:size=10
URxvt.letterSpace: -1
URxvt*depth: 32
URxvt*background: [100]#292D3E
*.foreground: #FF5370


*.color0:     #292D3E
*.color8:     #F07178
*.color1:     #444267
*.color9:     #F78C6C
*.color2:     #32374D
*.color10:    #FFCB6B
*.color3:     #676E95
*.color11:    #C3E88D
*.color4:     #8796B0
*.color12:    #89DDFF
*.color5:     #959DCB
*.color13:    #82AAFF
*.color6:     #959DCB
*.color14:    #C792EA
*.color7:     #FFFFFF
*.color15:    #FF5370

*Xft.font: xfr:noto-sans:size=10
