[Unit]
Description=Runs newsboat rss synchronizer

[Service]
Restart=always
RestartSec=300
ExecStart=/usr/bin/newsboat -x reload

[Install]
WantedBy=default.target
