body {
  -moz-box-direction: reverse;
}

#tabbrowser-arrowscrollbox .tabbrowser-tab {
  min-height: 24px !important;
}

#tabbrowser-tabs {
  background-color: #1b1e2b;
}

.browser-toolbar {
  background-image: unset !important;
  background-color: #1b1e2b !important;
  box-shadow: unset !important;
}

.urlbarView {
  display: block !important;
  position: absolute !important;
  bottom: 100% !important;
  background: #1b1e2b !important;
}

.tab-background {
  background-image: unset !important;
  background-color: #1b1e2b !important;
  --tab-border-radius: 0 !important;
}

.tab-background:is([selected],[multiselected]) {
  background-image: unset !important;
  background-color: #292d3e !important;
}
